p{
    text-align: left;
}
#ponto1{
    width: 250px; 
    float: right;
}
#ponto2{
    width: 250px;
    float: left;
    position: relative;
    z-index: 20;
    text-align: center;
}
#ponto3{
    width: 250px; 
    float: left;
    position: fixed;
    z-index: 30;
}
